<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{admin/index::header}"></th:block>
<body>
<div class="page-container">
    <th:block th:replace="~{admin/index::page-header}"></th:block>
    <th:block th:replace="~{admin/index::page-sidebar}"></th:block>
    <div class="page-content">
        <div class="main-wrapper">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h2>Departure Manage</h2>
                                </div>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#newDepartureModalScrollable').modal('show')">New Departure</button>
                            </div>
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table departure-table" id="departure-table">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Departure Day</th>
                                            <th scope="col">Slots</th>
                                            <th scope="col">Tour</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="departureDetailsModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="departureDetailsModalScrollableTitle">Departure Details</h5>
            </div>
            <div class="modal-body">
                <form id="tour-form">
                    <div class="form-group">
                        <label for="id" hidden="hidden">ID</label>
                        <input type="text" class="form-control" id="id" hidden="hidden">
                    </div>
                    <div class="form-group">
                        <label for="departure">Departure Day</label>
                        <input type="date" class="form-control" id="departure">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="slots">Slots</label>
                        <input type="text" class="form-control" id="slots">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <input type="text" class="form-control" id="status">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Tour</label>
                        <label for="tourDropdownUpdate"></label>
                        <select class="form-control" id="tourDropdownUpdate"></select>
                        <option th:each="tour : ${tours}"
                                th:value="${tour.name}"
                                th:text="${tour.name}">
                        </option>
                    </div>
                    <p></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="updateDeparture(document.getElementById('id').value)">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#departureDetailsModalScrollable').modal('hide');">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newDepartureModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newDepartureModalScrollableTitle">New Departure</h5>
            </div>
            <div class="modal-body">
                <form id="new-tour-form">
                    <div class="form-group">
                        <label for="_id" hidden="hidden">ID</label>
                        <input type="text" class="form-control" id="_id" hidden="hidden">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="_departure">Departure Day</label>
                        <input type="date" class="form-control" id="_departure">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="_slots">Slots</label>
                        <input type="text" class="form-control" id="_slots">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="_status">Status</label>
                        <input type="text" class="form-control" id="_status">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Tour</label>
                        <label for="tourDropdownNew"></label>
                        <select class="form-control" id="tourDropdownNew"></select>
                        <option th:each="tour : ${tours}"
                                th:value="${tour.name}"
                                th:text="${tour.name}">
                        </option>
                    </div>
                    <p></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="addDeparture()">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#newDepartureModalScrollable').modal('hide')">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="toast" id="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="mr-auto">Notification</strong>
    </div>
    <div class="toast-body">
    </div>
</div>

<!-- Javascripts -->
<script th:src="@{/assets/admin/plugins/jquery/jquery-3.4.1.min.js}"></script>
<script th:src="@{https://unpkg.com/@popperjs/core@2}"></script>
<script th:src="@{/assets/admin/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{https://unpkg.com/feather-icons}"></script>
<script th:src="@{/assets/admin/plugins/perfectscroll/perfect-scrollbar.min.js}"></script>
<script th:src="@{/assets/admin/js/main.min.js}"></script>
<script th:src="@{/assets/admin/js/pages/departure-data.js}"></script>
<script th:src="@{/assets/admin/js/pages/toast.js}"></script>
<script th:src="@{/assets/admin/js/pages/dropdown.js}"></script>
</body>
</html>