@charset "UTF-8";

/* CSS Document */
.none-padding-right {
    padding-right: 0 !important;
}

.outline-none {
    outline: none !important;
}

.margin-auto {
    margin: auto;
}

.display-space-between {
    display: flex;
    justify-content: space-between;
}

.display-space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.text-align-center {
    text-align: center;
}

.text-align-justify {
    text-align: justify;
}

.none-margin-bottom {
    margin-bottom: 0;
}

.none-padding {
    padding: 0;
}

.padding_42 {
    padding-top: 42px;
    padding-bottom: 42px;
}

.display-right {
    display: flex;
    justify-content: right;
}

.grey-layout {
    height: 400px;
    background: rgba(0, 0, 0, 0.3);
}

.line-height-1_5 {
    line-height: 1.5;
}

.description-content,
.schedule-content,
.service-content {
    font-size: 15px;
    text-align: justify;
}

#name,
.caption {
    display: block;
    width: 80%;
    overflow: hidden;
}

.caption {
    white-space: nowrap;
    text-overflow: ellipsis;
}

#name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 20px;
    line-height: 1.4;
}

.caption {
    margin-bottom: 8px;
}

.rating {
    display: flex;
    align-items: center;
    line-height: 0;
    font-size: 14px;
}

.rating .voted {
    color: #F90;
}

.rating small {
    margin-left: 3px;
    font-size: 12px;
}

#general_rating .rating {
    display: flex;
    text-align: center;
}

.rating.footerGenarateRating i {
    font-size: 20px;
}

.rating.footerGenarateRating small {
    font-size: 15px;
}

.parallax-window {
    background: url(https://images.unsplash.com/photo-1531737212413-667205e1cda7?q=80&w=1634&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center/ cover;
    z-index: 2;
}

.tour_container .tour_title h3 strong,
.hotel_container .hotel_title h3 strong {
    width: 100%;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 1.3;
    white-space: wrap;
}

.price_list {
    font-size: 18px;
}

.price_list sup {
    font-size: 12px;
}

.list_desc {
    height: 100%;
    padding: 20px 20px 20px 0;
    border-right: 1px solid #eee;
}

.list_desc>p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-align: justify;
    margin-bottom: 0;
}

.list_desc h4 {
    width: 100%;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin: 10px 0;
}

#search_container.tours_list_filter_container {
    background: unset;
}

#search.tours_list_filter {
    padding: 0;
}

#search.tours_list_filter .btn_1 {
    width: 100%;
}

.dd-options li .dd-option {
    align-items: center;
    display: flex;
}

.dd-select label,
.dd-options label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 15px;
    margin-bottom: 0;
}

#position>.container {
    display: flex;
}

#price_single_main span,
#price_single_main_for_children span {
    font-size: 25px;
    color: #f90;
}

#price_single_main span:last-of-type,
#price_single_main_for_children span:last-of-type {
    margin-right: 6px;
}

#price_single_main p,
#price_single_main_for_children p,
#author p,
#date-of-posting p {
    margin: 0;
}

#author {
    margin-bottom: 5px;
}

#author p,
#date-of-posting p {
    padding: 0;
    text-align: left;
    font-size: 15px;
    display: flex;
    align-items: center;
}

#author p i {
    margin-right: 6px;
}

#date-of-posting p i {
    margin-right: 10px;
}

#price_single_main_for_children {
    text-align: right;
    padding-top: 25px;
    font-weight: normal;
}

#price_single_main_for_children,
#price_single_main {
    padding: 0;
    text-align: left;
    font-size: 15px;
    display: flex;
    align-items: center;
}

#price_single_main_for_children span {
    color: #e04f67;
}

.review_strip_single>p {
    max-height: 100px;
    overflow: auto;
}

#single_tour_desc .pagination {
    display: flex;
    justify-content: right;
}

#adults,
#children {
    pointer-events: none;
}

#booking_box .booking_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: none;
}

#booking_box .booking_overlay span {
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
}

#booking_box lable,
#booking_box .remainingQuanity {
    font-size: 14px;
}

.modal.show .modal-dialog {
    top: 50%;
    transform: translate(0, -80%);
}

.page-item-number.active {
    pointer-events: none;
}

.date-pick {
    font-size: 13px;
    text-align: center;
}

.filter-btn {
    outline: none;
}

.search_caption {
    padding: 12px;
    background: #e04f67;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

/* Cart */
.tabs {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
}

.tab {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #e0e0e0;
}

.tab.active {
    background-color: #f90;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.tab-booking-content {
    border: 1px solid #ccc;
    padding: 0;
    border-radius: 0 0 5px 5px;
}

.tab-booking-content.active {
    display: block;
}

.tab-booking-content:not(.active) {
    display: none;
}

.item_cart,
.departurePoint {
    display: block;
}

.thumb_cart img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.departurePoint {
    max-width: 230px;
    max-height: 60px;
    padding-right: 5px;
    overflow: auto;
}

/* width */
.departurePoint::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.departurePoint::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.departurePoint::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.item_cart {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart_bt {
    font-size: 18px;
    color: #fff;
}

.custom-prompt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.prompt-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.action {
    display: flex;
    justify-content: space-evenly;
}

button.action-btn {
    outline: none;
    border: none;
    min-width: 100px;
    border-radius: 4px;
    transition: all linear 0.2s;
}

button.action-btn:hover {
    background-color: #f90;
    color: #fff;
}

#customPrompt .tour-cancel-info {
    margin: 20px 0;
}

#customPrompt .tour-cancel-info p {
    margin: 0;
}

#customPrompt .tour-cancel-info p:last-of-type strong {
    color: #f90;
}

#customPrompt h4 {
    text-align: center;
    padding: 10px 0;
    background: #565a5c;
    color: #fff;
    border-radius: inherit;
    margin-bottom: 25px;
}

#customPrompt p {
    text-align: justify;
    line-height: 1.5;
}

#customPrompt .prompt-content {
    max-width: 530px;
    padding: 20px 30px 30px;
    font-size: 15px;
    text-align: left;
}

#customPrompt .temp {
    margin: 20px 0;
}

#customPrompt .temp p:first-of-type {
    margin: 0;
}

#customPrompt .temp strong {
    color: #f90;
}

/* End cart */

#submit_delete_review {
    background: #f90;
}

.animated-alert {
    position: fixed;
    top: 100px;
    right: 10px;
    font-size: 16px;
    z-index: 1041;
}

.animated-alert-item {
    transform: translateX(calc(100% + 10px));
    min-width: 345px;
    color: #000;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 1s ease;
}

.animated-alert-item.show {
    transform: translateX(0);
}

.animated-alert-item i {
    margin-right: 5px;
}

@keyframes slideOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* MAP */
#gg-map {
    width: 100%;
    height: 450px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

/* END MAP */

/* ARTICLES */
.search-container {
    text-align: center;
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    padding: 6px;
    font-size: 12px;
    border: 1px solid #83c99f;
    border-width: 1px 0 1px 1px;
    width: 100%;
}

.search-button {
    min-width: 40px;
    padding: 6px;
    font-size: 15px;
    background-color: #83c99f;
    color: #fff;
    border: 1px solid #83c99f;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-button:hover {
    background-color: #45a049;
}

/* END ARTICLES */