<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
  <th:block th:replace="~{user/fragments/fragment::head}"></th:block>
  <body>
    <th:block th:replace="~{user/fragments/fragment::preloader}"></th:block>
    <!-- End Preload -->

    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->

    <!-- Header================================================== -->
    <th:block th:replace="~{user/fragments/fragment::header}"></th:block>
    <!-- End Header -->

    <main>
      <section class="header-video">
        <div id="hero_video">
          <div class="intro_title">
            <h3 class="animated fadeInDown">Du lịch Việt Nam giá rẻ</h3>
            <p class="animated fadeInDown">Chào mừng đến với 1337_tour</p>
            <a href="/tours" class="animated fadeInUp button_intro"
              >Xem tours</a
            >
            <a
              href="#"
              class="animated fadeInUp button_intro outline hidden-sm hidden-xs contact"
              >Liên hệ</a
            >
            <!-- <a
              href="https://www.youtube.com/watch?v=Zz5cu72Gv5Y"
              class="video animated fadeInUp button_intro outline"
              >Play video</a
            > -->
          </div>
        </div>
        <img
          src=""
          alt="Image"
          class="header-video--media"
          id="header-video--media"
          data-video-src=""
          th:data-teaser-source="@{/assets/user/video/ha-long-bay}"
          data-provider="Youtube"
          data-video-width="854"
          data-video-height="480"
        />
      </section>
      <!-- End Header video -->

      <!-- <section id="search_container">
        <div id="search">
          <ul class="nav nav-tabs">
            <li>
              <a href="#tours" data-toggle="tab" class="active show"
                >Tìm Kiếm Tours</a
              >
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active show" id="tours">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Địa điểm</label>
                    <select id="destinationsDropList" class="ddslick" name="destinations">
                      <option
                        value="0"
                        data-imagesrc="/assets/user/images/icons_search/walking.png"
                        selected
                      >
                        Tất cả
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Loại tour</label>
                    <select id="typeOfTourDropList" class="ddslick" name="typeOfTourDropList">
                      <option
                        value="0"
                        data-imagesrc="/assets/user/images/icons_search/all_tours.png"
                        selected
                      >
                        Tất cả
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label><i class="icon-calendar-7"></i> Ngày khởi hành</label>
                    <input
                      class="date-pick form-control"
                      data-date-format="M d, D"
                      type="text"
                    />
                  </div>
                </div>
                </div>
              </div>
              <hr />
              <button class="btn_1 green">
                <i class="icon-search"></i>Tìm kiếm ngay
              </button>
            </div>
          </div>
        </div>
      </section> -->
      <!-- End hero -->

      <div class="container margin_60">
        <div class="main_title">
          <h2>TOURS <span>YÊU</span> THÍCH</h2>
          <p>
            Những chuyến đi được yêu thích / phổ biến / được đánh giá cao nhất.
          </p>
        </div>

        <div id="favourite-tours" class="row favourite-tours"></div>
        <!-- End row -->

        <p class="text-center nopadding">
          <a href="/tours" class="btn_1 medium tours"
            ><i class="icon-eye-7"></i>Xem tất cả tours
          </a>
        </p>

        <hr />

        <div class="main_title">
          <h2>ĐỊA ĐIỂM <span>YÊU THÍCH</span></h2>
          <p>...</p>
        </div>

        <div
          id="favourite-destinations"
          class="row favourite-destinations"
        ></div>

        <hr />

        <div class="main_title">
          <h2>BÀI VIẾT <span>MỚI</span></h2>
          <p>...</p>
        </div>

        <div id="new-articles" class="row new-articles"></div>

        <p class="text-center nopadding">
          <a href="/articles" class="btn_1 medium articles"
            ><i class="icon-eye-7"></i>Xem tất cả bài viết
          </a>
        </p>
      </div>
      <!-- End container -->
      <!-- End row -->

      <section class="promo_full">
        <div class="promo_full_wp magnific">
          <div>
            <h3>MỌI NƠI BẠN MUỐN ĐẾN</h3>
            <p>
              Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus
              efficiantur in. Nec id tempor imperdiet deterruisset, doctus
              volumus explicari qui ex.
            </p>
            <a href="https://www.youtube.com/watch?v=NSnkb1IAjbE" class="video"
              ><i class="icon-play-circled2-1"></i
            ></a>
          </div>
        </div>
      </section>
      <!-- End section -->

      <div class="container margin_60">
        <div class="main_title">
          <h2>TẠI SAO<span> NÊN CHỌN </span>CHÚNG TÔI</h2>
          <p>
            Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur
            consequat.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4 wow zoomIn" data-wow-delay="0.2s">
            <div class="feature_home">
              <i class="icon_set_1_icon-41"></i>
              <h3><span class="feature_home-tours"></span> Tours</h3>
              <p>
                Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus
                civibus efficiantur in. Nec id tempor imperdiet deterruisset.
              </p>
              <a href="about.html" class="btn_1 outline">Xem thêm</a>
            </div>
          </div>

          <div class="col-lg-4 wow zoomIn" data-wow-delay="0.4s">
            <div class="feature_home">
              <i class="icon_set_1_icon-30"></i>
              <h3>
                <span class="feature_home-customers">+1000</span> Khách Hàng
              </h3>
              <p>
                Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus
                civibus efficiantur in. Nec id tempor imperdiet deterruisset.
              </p>
              <a href="about.html" class="btn_1 outline">Xem thêm</a>
            </div>
          </div>

          <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
            <div class="feature_home">
              <i class="icon_set_1_icon-57"></i>
              <h3><span class="feature_home-support">H24 </span> Hỗ Trợ</h3>
              <p>
                Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus
                civibus efficiantur in. Nec id tempor imperdiet deterruisset.
              </p>
              <a href="about.html" class="btn_1 outline">Xem thêm</a>
            </div>
          </div>
        </div>
        <!--End row -->

        <hr />

        <div class="row">
          <div class="col-md-6">
            <img
              th:src="@{/assets/user/images/laptop.png}"
              alt="Laptop"
              class="img-fluid laptop"
            />
          </div>
          <div class="col-md-6">
            <h3>Bắt đầu với <span>1337_Tours</span></h3>
            <p>
              Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus
              efficiantur in. Nec id tempor imperdiet deterruisset.
            </p>
            <ul class="list_order">
              <li><span>1</span>Chọn chuyến đi mà bạn thích</li>
              <li><span>2</span>Đặt ngay vé và thanh toán online</li>
              <li><span>3</span>Tận hưởng chuyến đi</li>
            </ul>
            <a href="/tours" class="btn_1">Bắt đầu ngay</a>
          </div>
        </div>
        <!-- End row -->
      </div>
      <!-- End container -->
    </main>
    <!-- End main -->

    <footer class="revealed">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Need help?</h3>
            <a href="tel://0988887631" id="phone">+84988887631</a>
            <a href="mailto:help@citytours.com" id="email_footer"
              >help@citytours.com</a
            >
          </div>
          <div class="col-md-3">
            <h3>About</h3>
            <ul>
              <li><a href="#">About us</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Register</a></li>
              <li><a href="#">Terms and condition</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>Discover</h3>
            <ul>
              <li><a href="#">Community blog</a></li>
              <li><a href="#">Tour guide</a></li>
              <li><a href="#">Wishlist</a></li>
              <li><a href="#">Gallery</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h3>Settings</h3>
            <div class="styled-select">
              <select name="lang" id="lang">
                <option value="English" selected>English</option>
                <option value="French">French</option>
                <option value="Spanish">Spanish</option>
                <option value="Russian">Russian</option>
              </select>
            </div>
            <div class="styled-select">
              <select name="currency" id="currency">
                <option value="USD" selected>USD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
                <option value="RUB">RUB</option>
              </select>
            </div>
          </div>
        </div>
        <!-- End row -->
        <div class="row">
          <div class="col-md-12">
            <div id="social_footer">
              <ul>
                <li>
                  <a href="#"><i class="icon-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-google"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-pinterest"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-vimeo"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-youtube-play"></i></a>
                </li>
              </ul>
              <p>© Citytours 2018</p>
            </div>
          </div>
        </div>
        <!-- End row -->
      </div>
      <!-- End container -->
    </footer>
    <!-- End footer -->

    <div id="toTop"></div>
    <!-- Back to top button -->

    <!-- Search Menu -->
    <div class="search-overlay-menu">
      <span class="search-overlay-close"
        ><i class="icon_set_1_icon-77"></i
      ></span>
      <form role="search" id="searchform" method="get">
        <input value="" name="q" type="search" placeholder="Search..." />
        <button type="submit"><i class="icon_set_1_icon-78"></i></button>
      </form>
    </div>
    <!-- End Search Menu -->

    <!-- Sign In Popup -->
    <th:block th:replace="~{user/fragments/fragment::sign-in-popup}"></th:block>
    <!-- /Sign In Popup -->

    <!-- Common scripts -->
    <th:block th:replace="~{user/fragments/fragment::common_js}"></th:block>

    <!-- Video header scripts -->
    <script th:src="@{/assets/user/js/modernizr.js}"></script>
    <script th:src="@{/assets/user/js/video_header.js}"></script>

    <!-- search  -->
    <script>
      $("input.date-pick").datepicker("setDate", "today");
      $("input.time-pick").timepicker({
        minuteStep: 15,
        showInpunts: false,
      });
    </script>

    <script th:src="@{/assets/user/js/jquery.ddslick.js}"></script>
    <script type="module" th:src="@{/assets/user/js/custom/index.js}"></script>
  </body>
</html>
