<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
  <th:block th:replace="~{user/fragments/fragment::head}"></th:block>
  <body class="none-padding-right">
    <th:block th:replace="~{user/fragments/fragment::preloader}"></th:block>
    <!-- End Preload -->

    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->

    <!-- Header================================================== -->
    <th:block th:replace="~{user/fragments/fragment::header}"></th:block>
    <!-- End Header -->

    <section
      class="parallax-window"
      data-parallax="scroll"
      data-image-src=""
      data-natural-width="1400"
      data-natural-height="500"
    >
      <div class="parallax-content-1">
        <div class="animated fadeInDown">
          <h1>Thông tin tài khoản</h1>
        </div>
      </div>
    </section>
    <!-- End section -->

    <main>
      <div id="position">
        <div class="container">
          /
          <ul>
            <li><a href="/">Trang chủ</a></li>
            <li>Tài Khoản</li>
          </ul>
        </div>
      </div>
      <!-- Position -->

      <div class="container padding_42">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- My Account Page Start -->
              <div class="myaccount-page-wrapper">
                <!-- My Account Tab Menu Start -->
                <div class="row">
                  <!-- My Account Tab Content Start -->
                  <div class="col-lg-12 col-md-12">
                    <div class="tab-content" id="myaccountContent">
                      <!-- Single Tab Content Start -->
                      <div
                        class="tab-pane fade show active"
                        id="account-info"
                        role="tabpanel"
                      >
                        <div class="myaccount-content">
                          <h3>Chi Tiết Tài Khoản</h3>
                          <div class="account-details-form">
                            <form action="javascrip:void(0)" th:if="${user}">
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="single-input-item">
                                    <label class="required" for="first-name"
                                      >Họ Tên</label
                                    >
                                    <input
                                      required
                                      id="full-name"
                                      type="text"
                                      th:value="${user.email}"
                                    />
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="single-input-item">
                                    <label class="required" for="last-name"
                                      >Ngày Sinh</label
                                    >
                                    <input
                                      required
                                      class="date-pick form-control"
                                      type="text"
                                      th:value="${user.birthday}"
                                    />
                                  </div>
                                </div>
                              </div>
                              <div class="single-input-item">
                                <label class="required" for="display-name"
                                  >Tên Hiển Thị</label
                                >
                                <input
                                  required
                                  id="display-name"
                                  type="text"
                                  th:value="${user.name}"
                                />
                              </div>
                              <div class="single-input-item">
                                <label class="required" for="email"
                                  >Email</label
                                >
                                <input
                                  required
                                  id="email"
                                  type="email"
                                  th:value="${user.username}"
                                />
                              </div>
                              <fieldset>
                                <legend>Thay đổi mật khẩu</legend>
                                <div class="single-input-item">
                                  <label class="required" for="current-pwd"
                                    >Mật Khẩu Hiện Tại</label
                                  >
                                  <input
                                    required
                                    id="current-pwd"
                                    type="password"
                                  />
                                </div>
                                <div class="row">
                                  <div class="col-lg-6">
                                    <div class="single-input-item">
                                      <label class="required" for="new-pwd"
                                        >Mật Khẩu Mới</label
                                      >
                                      <input
                                        required
                                        id="new-pwd"
                                        type="password"
                                      />
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="single-input-item">
                                      <label class="required" for="confirm-pwd"
                                        >Xác Nhận Mật Khẩu</label
                                      >
                                      <input
                                        required
                                        id="confirm-pwd"
                                        type="password"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </fieldset>
                              <div class="single-input-item">
                                <button type="submit" class="check-btn sqr-btn">
                                  Lưu Thay Đổi
                                </button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      <!-- Single Tab Content End -->
                      <!-- Single Tab Content Start -->
                      <div
                        class="tab-pane fade"
                        id="payment-method"
                        role="tabpanel"
                      >
                        <div class="myaccount-content">
                          <h3>Payment Method</h3>
                          <p class="saved-message">
                            You Can't Saved Your Payment Method yet.
                          </p>
                        </div>
                      </div>
                      <!-- Single Tab Content End -->
                    </div>
                  </div>
                  <!-- My Account Tab Content End -->
                </div>
              </div>
              <!-- My Account Page End -->
            </div>
          </div>
        </div>
      </div>
    </main>

    <th:block th:replace="~{user/fragments/fragment::footer}"></th:block>
    <!-- End footer -->

    <!-- Sign In Popup -->
    <th:block th:replace="~{user/fragments/fragment::sign-in-popup}"></th:block>
    <!-- /Sign In Popup -->

    <!-- Common scripts -->
    <th:block th:replace="~{user/fragments/fragment::common_js}"></th:block>

    <!-- Date pick  -->
    <th:block th:replace="~{user/fragments/fragment::date-pick}"></th:block>

    <!--Review modal validation -->
    <script th:src="@{/assets/user/assets/validate.js}"></script>
    <script
      type="module"
      th:src="@{/assets/user/js/custom/profile.js}"
    ></script>
  </body>
</html>
