<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
  <head th:replace="user/fragments/fragment :: head"></head>

  <body>
    <div th:replace="user/fragments/fragment :: preloader"></div>
    <!-- End Preload -->

    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->

    <!-- Header================================================== -->
    <header th:replace="user/fragments/fragment :: header"></header>
    <!-- End Header -->

    <section
      class="parallax-window"
      data-parallax="scroll"
      data-image-src=""
      data-natural-width="1400"
      data-natural-height="500"
    >
      <div class="parallax-content-1">
        <div class="animated fadeInDown">
          <h1>Danh sách tours</h1>
        </div>
      </div>
    </section>
    <!-- End section -->
    <main>
      <div id="position">
        <div class="container">
          /
          <ul>
            <li><a href="">Trang chủ</a></li>
            <li>Tours</li>
          </ul>
        </div>
      </div>
      <!-- Position -->

      <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
      </div>
      <!-- End Map -->

      <div class="container padding_42">
        <div class="row">
          <aside class="col-lg-3">
            <p>
              <a
                class="btn_map"
                data-toggle="collapse"
                href="#collapseMap"
                aria-expanded="false"
                aria-controls="collapseMap"
                data-text-swap="Hide map"
                data-text-original="View on map"
                >View on map</a
              >
            </p>

            <section id="search_container" class="tours_list_filter_container">
              <div id="search" class="tours_list_filter">
                <div class="tab-content">
                  <div class="tab-pane active show" id="tours">
                    <!-- <h3>Tìm kiếm chuyến đi của bạn</h3> -->
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Địa điểm</label>
                          <select
                            id="destinationsDropList"
                            class="ddslick"
                            name="destinationsDropList"
                          >
                            <option
                              value="0"
                              data-imagesrc="/assets/user/images/icons_search/walking.png"
                              selected
                            >
                              Tất cả
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <!-- End row -->
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Loại tour</label>
                          <select
                            id="typeOfTourDropList"
                            class="ddslick"
                            name="typeOfTourDropList"
                          >
                            <option
                              value="0"
                              data-imagesrc="/assets/user/images/icons_search/all_tours.png"
                              selected
                            >
                              Tất cả
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <!-- End row -->

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label
                            ><i class="icon-calendar-7"></i> Ngày khởi
                            hành</label
                          >
                          <input
                            class="date-pick form-control"
                            data-date-format="M d, D"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- End row -->
                  <hr />
                  <button class="btn_1 green">Lọc</button>
                </div>
                <!-- End rab -->
              </div>
            </section>
            <!-- End hero -->

            <!--End filters col-->
          </aside>
          <!--End aside -->
          <div class="col-lg-9">
            <div id="tools">
              <div class="row">
                <div class="col-md-3 col-sm-4 col-6">
                  <div class="styled-select-filters">
                    <select name="sort_price" id="sort_price">
                      <option value="" selected>Sắp xếp theo giá</option>
                      <option value="lower">Giảm dần</option>
                      <option value="higher">Tăng dần</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                  <div class="styled-select-filters">
                    <select name="sort_rating" id="sort_rating">
                      <option value="" selected>Sắp xếp theo điểm số</option>
                      <option value="lower">Giảm dần</option>
                      <option value="higher">Tăng dần</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <!--/tools -->

            <div id="tours_list" class="tours_list"></div>

            <hr />

            <!-- <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <li class="page-item" th:if="${currentPage > 1}">
                  <a
                    class="page-link"
                    th:href="@{'?page='+${currentPage - 1}}"
                    aria-label="Previous"
                  >
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>

                <li
                  class="page-item"
                  th:each="i : ${#numbers.sequence(1, totalPage)}"
                  th:classappend="${currentPage == i} ? 'active' : ''"
                >
                  <a
                    class="page-link"
                    th:href="@{'?page='+${i}}"
                    th:text="${i}"
                  ></a>
                </li>

                <li class="page-item" th:if="${currentPage < totalPage}">
                  <a
                    class="page-link"
                    th:href="@{'?page='+${currentPage + 1}}"
                    aria-label="Next"
                  >
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav> -->
            <!-- end pagination-->
          </div>
          <!-- End col lg-9 -->
        </div>
        <!-- End row -->
      </div>
      <!-- End container -->
    </main>
    <!-- End main -->

    <footer class="revealed">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Need help?</h3>
            <a href="tel://004542344599" id="phone">+45 423 445 99</a>
            <a href="mailto:help@citytours.com" id="email_footer"
              >help@citytours.com</a
            >
          </div>
          <div class="col-md-3">
            <h3>About</h3>
            <ul>
              <li><a href="#">About us</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Register</a></li>
              <li><a href="#">Terms and condition</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>Discover</h3>
            <ul>
              <li><a href="#">Community blog</a></li>
              <li><a href="#">Tour guide</a></li>
              <li><a href="#">Wishlist</a></li>
              <li><a href="#">Gallery</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h3>Settings</h3>
            <div class="styled-select">
              <select name="lang" id="lang">
                <option value="English" selected>English</option>
                <option value="French">French</option>
                <option value="Spanish">Spanish</option>
                <option value="Russian">Russian</option>
              </select>
            </div>
            <div class="styled-select">
              <select name="currency" id="currency">
                <option value="USD" selected>USD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
                <option value="RUB">RUB</option>
              </select>
            </div>
          </div>
        </div>
        <!-- End row -->
        <div class="row">
          <div class="col-md-12">
            <div id="social_footer">
              <ul>
                <li>
                  <a href="#"><i class="icon-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-google"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-pinterest"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-vimeo"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-youtube-play"></i></a>
                </li>
              </ul>
              <p>© Citytours 2018</p>
            </div>
          </div>
        </div>
        <!-- End row -->
      </div>
      <!-- End container -->
    </footer>
    <!-- End footer -->

    <div id="toTop"></div>
    <!-- Back to top button -->

    <!-- Search Menu -->
    <div class="search-overlay-menu">
      <span class="search-overlay-close"
        ><i class="icon_set_1_icon-77"></i
      ></span>
      <form role="search" id="searchform" method="get">
        <input value="" name="q" type="search" placeholder="Search..." />
        <button type="submit"><i class="icon_set_1_icon-78"></i></button>
      </form>
    </div>
    <!-- End Search Menu -->

    <!-- Sign In Popup -->
    <div th:replace="user/fragments/fragment :: sign-in-popup"></div>

    <!-- /Sign In Popup -->

    <!-- Common scripts -->
    <div th:replace="user/fragments/fragment :: common_js"></div>

    <!-- Specific scripts -->
    <!-- Cat nav mobile -->
    <script th:src="@{/assets/user/js/cat_nav_mobile.js}"></script>
    <script>
      $("#cat_nav").mobileMenu();
    </script>

    <!-- Map -->
    <div th:replace="user/fragments/fragment :: map_js"></div>

    <script th:src="@{/assets/user/js/jquery.ddslick.js}"></script>

    <!-- search  -->
    <script>
      $("input.date-pick").datepicker("setDate", "today");
      $("input.time-pick").timepicker({
        minuteStep: 15,
        showInpunts: false,
      });
    </script>

    <!-- Check box and radio style iCheck -->
    <script>
      $("input").iCheck({
        checkboxClass: "icheckbox_square-grey",
        radioClass: "iradio_square-grey",
      });
    </script>

    <!-- Fixed sidebar -->
    <script th:src="@{/assets/user/js/theia-sticky-sidebar.js}"></script>
    <script>
      jQuery("#sidebar").theiaStickySidebar({
        additionalMarginTop: 80,
      });
    </script>

    <script type="module" th:src="@{/assets/user/js/custom/tours.js}"></script>
  </body>
</html>
