<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org/"
  xmlns:sec="http://www.w3.org/1999/xhtml"
>
  <head th:attr="data-userId=${userId}" th:fragment="head">
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <meta
      content="Citytours - Premium site template for city tours agencies, transfers and tickets."
      name="description"
    />
    <meta content="Ansonika" name="author" />
    <title>1337_TOURS</title>

    <!-- Favicons-->
    <link
      rel="shortcut icon"
      th:href="@{/assets/user/images/favicon.ico}"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      th:href="@{/assets/user/images/apple-touch-icon-57x57-precomposed.png}"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      th:href="@{/assets/user/images/apple-touch-icon-72x72-precomposed.png}"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      th:href="@{/assets/user/images/apple-touch-icon-114x114-precomposed.png}"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      th:href="@{/assets/user/images/apple-touch-icon-144x144-precomposed.png}"
      type="image/x-icon"
    />

    <!-- ICON -->
    <link
      crossorigin="anonymous"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      referrerpolicy="no-referrer"
      rel="stylesheet"
    />

    <!-- COMMON CSS -->
    <link
      rel="stylesheet"
      th:href="@{/assets/user/css/bootstrap.min.css}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      th:href="@{/assets/user/css/style.css}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      th:href="@{/assets/user/css/vendors.css}"
      type="text/css"
    />

    <!-- CUSTOM CSS -->
    <link
      rel="stylesheet"
      th:href="@{/assets/user/css/custom.css}"
      type="text/css"
    />
  </head>

  <body>
    <div id="preloader" th:fragment="preloader">
      <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
      </div>
    </div>
    <!-- End Preload -->

    <header th:fragment="header">
      <div id="top_line">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <!-- <i class="icon-phone"></i><strong>0045 043204434</strong> -->
            </div>
            <div class="col-6">
              <ul id="top_links">
                <li sec:authorize="isAnonymous()">
                  <a href="#sign-in-dialog" id="access_link" class="access_link"
                    ><i class="fa-solid fa-power-off"></i> Đăng Nhập</a
                  >
                </li>
                <li sec:authorize="isAuthenticated()">
                  <a href="" id="exit_link"
                    ><i class="fa-solid fa-power-off"></i> Đăng Xuất</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- End row -->
        </div>
        <!-- End container-->
      </div>
      <!-- End top line-->

      <div class="container">
        <div class="row">
          <div class="col-3">
            <div id="logo_home">
              <h1>
                <a href="/" title="City tours travel template">1337_Tours</a>
              </h1>
            </div>
          </div>
          <nav class="col-9 display-space-between">
            <a
              class="cmn-toggle-switch cmn-toggle-switch__htx open_close"
              href="javascript:void(0);"
              ><span>Menu mobile</span></a
            >
            <div class="main-menu">
              <div id="header_menu">
                <img
                  alt="City tours"
                  data-retina="true"
                  height="34"
                  th:src="@{/assets/user/images/logo_sticky.png}"
                  width="160"
                />
              </div>
              <a class="open_close" href="#" id="close_in"
                ><i class="icon_set_1_icon-77"></i
              ></a>
              <ul>
                <li class="submenu">
                  <a class="show-submenu" href="/">TRANG CHỦ</a>
                </li>
                <li class="submenu">
                  <a class="show-submenu" href="/tours">TOURS </a>
                </li>
                <li class="submenu">
                  <a class="show-submenu" href="/articles">BÀI VIẾT </a>
                </li>
                <li class="megamenu submenu">
                  <a class="show-submenu-mega" href="javascript:void(0);"
                    >PHẢN HỒI
                  </a>
                </li>
                <li class="megamenu submenu">
                  <a class="show-submenu-mega" href="javascript:void(0);"
                    >THÊM <i class="icon-down-open-mini"></i
                  ></a>
                  <div class="menu-wrapper">
                    <div class="row">
                      <div class="col-lg-4">
                        <h3>Header styles</h3>
                        <ul>
                          <li><a href="index.html">Default transparent</a></li>
                          <li><a href="header_2.html">Plain color</a></li>
                          <li>
                            <a href="header_3.html">Plain color on scroll</a>
                          </li>
                          <li>
                            <a href="header_4.html">With socials on top</a>
                          </li>
                          <li>
                            <a href="header_5.html">With language selection</a>
                          </li>
                          <li>
                            <a href="header_6.html">With lang and conversion</a>
                          </li>
                          <li>
                            <a href="header_7.html"
                              >With full horizontal menu</a
                            >
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-4">
                        <h3>Footer styles</h3>
                        <ul>
                          <li><a href="index.html">Footer default</a></li>
                          <li><a href="footer_2.html">Footer style 2</a></li>
                          <li><a href="footer_3.html">Footer style 3</a></li>
                          <li><a href="footer_4.html">Footer style 4</a></li>
                          <li><a href="footer_5.html">Footer style 5</a></li>
                          <li><a href="footer_6.html">Footer style 6</a></li>
                          <li><a href="footer_7.html">Footer style 7</a></li>
                        </ul>
                      </div>
                      <div class="col-lg-4">
                        <h3>Shop section</h3>
                        <ul>
                          <li><a href="shop.html">Shop</a></li>
                          <li><a href="shop-single.html">Shop single</a></li>
                          <li><a href="shopping-cart.html">Shop cart</a></li>
                          <li><a href="checkout.html">Shop Checkout</a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- End row -->
                  </div>
                  <!-- End menu-wrapper -->
                </li>
              </ul>
            </div>
            <!-- End main-menu -->
            <div sec:authorize="isAuthenticated()">
              <a class="cart_bt profile_bt" href="/my-account"
                ><i class="fa-regular fa-user"></i
              ></a>
              <a class="cart_bt" href="/cart"><i class="icon_bag_alt"></i></a>
            </div>
          </nav>
        </div>
      </div>
      <!-- container -->
    </header>

    <!-- Sign In Popup -->
    <div sec:authorize="isAnonymous()" th:fragment="sign-in-popup">
      <div class="zoom-anim-dialog mfp-hide" id="sign-in-dialog">
        <div class="small-dialog-header">
          <h3>Đăng Nhập</h3>
        </div>
        <form id="form-login">
          <div class="sign-in-wrapper">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                class="form-control"
                id="email"
                name="email"
                type="email"
              />
              <i class="icon_mail_alt"></i>
            </div>
            <div class="form-group">
              <label for="password">Mật khẩu</label>
              <input
                class="form-control"
                id="password"
                name="password"
                type="password"
                value=""
              />
              <i class="icon_lock_alt"></i>
            </div>
            <div class="clearfix add_bottom_15">
              <div class="checkboxes float-left">
                <input id="remember-me" name="check" type="checkbox" />
                <label for="remember-me">Nhớ thông tin đăng nhập</label>
              </div>
              <div class="float-right">
                <a href="javascript:void(0);" id="forgot">Quên Mật Khẩu?</a>
              </div>
            </div>
            <div class="text-center">
              <input class="btn_login" type="submit" value="Đăng Nhập" />
            </div>
            <div class="text-center">
              Chưa có tài khoản? <a href="/register">Đăng Ký</a>
            </div>
            <div id="forgot_pw">
              <div class="form-group">
                <label>Please confirm authentication email below</label>
                <input
                  class="form-control"
                  id="email_forgot"
                  name="email_forgot"
                  type="email"
                />
                <i class="icon_mail_alt"></i>
              </div>
              <p>
                You will receive an email containing a link allowing you to
                reset your password to a new preferred one.
              </p>
              <div class="text-center">
                <input class="btn_1" type="submit" value="Reset Password" />
              </div>
            </div>
          </div>
        </form>
        <!--form -->
      </div>
    </div>
    <!-- /Sign In Popup -->

    <div th:fragment="common_js">
      <script th:src="@{/assets/user/js/jquery-2.2.4.min.js}"></script>
      <script th:src="@{/assets/user/js/common_scripts_min.js}"></script>
      <script th:src="@{/assets/user/js/functions.js}"></script>
      <script
        sec:authorize="isAnonymous()"
        th:src="@{/assets/user/js/custom/login.js}"
      ></script>
      <script
        sec:authorize="isAuthenticated()"
        th:src="@{/assets/user/js/custom/logout.js}"
      ></script>
    </div>

    <div th:fragment="map_js">
      <script th:src="@{http://maps.googleapis.com/maps/api/js}"></script>
      <script th:src="@{/assets/user/js/map.js}"></script>
      <script th:src="@{/assets/user/js/infobox.js}"></script>
    </div>

    <div th:fragment="date-pick">
      <!-- jQuery UI library -->
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
      <link
        rel="stylesheet"
        href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
      />

      <!-- jQuery UI Vietnamese localization -->
      <script src="https://raw.githubusercontent.com/jquery/jquery-ui/master/ui/i18n/datepicker-vi.js"></script>

      <script>
        $.datepicker.regional["vi"] = {
          closeText: "Đóng",
          prevText: "&#x3c;Trước",
          nextText: "Tiếp&#x3e;",
          currentText: "Hôm nay",
          monthNames: [
            "Tháng 1",
            "Tháng 2",
            "Tháng 3",
            "Tháng 4",
            "Tháng 5",
            "Tháng 6",
            "Tháng 7",
            "Tháng 8",
            "Tháng 9",
            "Tháng 10",
            "Tháng 11",
            "Tháng 12",
          ],
          monthNamesShort: [
            "Tháng 1",
            "Tháng 2",
            "Tháng 3",
            "Tháng 4",
            "Tháng 5",
            "Tháng 6",
            "Tháng 7",
            "Tháng 8",
            "Tháng 9",
            "Tháng 10",
            "Tháng 11",
            "Tháng 12",
          ],
          dayNames: [
            "Chủ Nhật",
            "Thứ Hai",
            "Thứ Ba",
            "Thứ Tư",
            "Thứ Năm",
            "Thứ Sáu",
            "Thứ Bảy",
          ],
          dayNamesShort: ["CN", "T2", "T3", "T4", "T5", "T6", "T7"],
          dayNamesMin: ["CN", "T2", "T3", "T4", "T5", "T6", "T7"],
          weekHeader: "Tuần",
          dateFormat: "dd/mm/yy",
          firstDay: 0,
          isRTL: false,
          showMonthAfterYear: false,
          yearSuffix: "",
        };
        $.datepicker.setDefaults($.datepicker.regional["vi"]); // Đặt ngôn ngữ mặc định là tiếng Việt

        $("input.date-pick").datepicker({
          dateFormat: "dd-mm-yy", // Đặt định dạng ngày giờ thành tiếng Việt
          changeDay: true,
          changeMonth: true,
          changeYear: true,
        });
        // .attr("readonly", "readonly"); // Sử dụng new Date() để đặt ngày là hôm nay
      </script>
    </div>
  </body>
</html>
